/* Media Query for large screens */
/* 64em is also 1028 when basefont is 16px */

main {
  max-width: 66rem;
  margin: auto;
}

header h1 {
  font-size: 2.75rem;
  margin-top: 5px;
}
header h3 {
  font-size: 1.85rem;
  margin-top: 8px;
}
header figure img {
  margin: 0 35px;
  width: 100px;
}
/*---------------- MAIN----------------- */
main {
  margin-top: 0;
}
main h2 {
  font-size: 28px;
  text-align: center;
}

.pageId {
  margin: 20px 0;
  text-align: left;
  color: #eb7903;
  font-size: 28px;
  padding: 10px 0;
}
/* ---------HERO DIV------------------- */
main img.hero {
  width: 100%;
  margin: 1rem 0 3rem 0;
}
main img.stormHero {
  margin-bottom: 5%;
}
/* --------------NAVIGATION-------------- */

.navbar button {
  display: none;
}
.primaryNav {
  flex-direction: row;
  justify-content: space-around;
}
.navbar {
  font-size: 1.6em;
}
nav ul.hide {
  display: flex;
}
nav ul li {
  width: 17%;

  border-bottom: none;
  font-size: 0.6em;
  line-height: 50px;
  display: block;
}
.nav-link {
  border: none;
}

/* ------------WEATHERBOX------------------- */

.weatherBox {
  /* width: auto;
  height: auto; */
  top: 100px;
  left: 20px;
}
.weatherBox p {
  font-size: 1.25em;
}
.weatherBox h3 {
  font-size: 1.35em;
}
.weatherBox p span {
  width: 130px;
  padding-right: 4px;
}
/*------------ 5 DAY FORECAST TABLE---------- */

.fiveDayForecast {
  display: block;
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 3rem;
}
#forecast {
  text-align: center;
}

/* ----------EVENTS------------------ */

div#events ul {
  font-size: 1rem;
}
.townEvents h3.title {
  font-size: 24px;
  padding-top: 1rem;
}
/* ----------CITY DATA BOXES---------- */
.towngallery {
  margin: 40px 0 10px 0;
}
.towncard:hover {
  box-shadow: 0 0 10px #333;
}
.towncard h3 {
  font-size: 0.8em;
}
.towncard article {
  text-align: center;
  color: #716f6f;
  margin: 15px 0 25px 0;
  line-height: 1.5em;
}

/* -------------ARTICLE----------------- */
.townArticle {
  padding: 15px;
}
article {
  margin-top: 3rem;
  width: 100%;
}
article h2 {
  text-align: left;
}
#articleImg {
  float: right;
  width: 50%;
  margin: 1% 1% 1% 2%;
}

/* -----------FORM--------------------- */
form input.submitBtn {
  font-size: 1.2rem;
}
.form {
  margin-bottom: 30px;
}

/* -----------FOOTER-CONTACT------------- */
footer section.contact {
  display: block;
  grid-template-rows: auto;
  margin-top: 2%;
  height: 20rem;
}
footer #contactInfoBox {
  margin: 20px 0 0 100px;
  width: 50%;
}
footer section.contact div.map {
  width: 50%;
  float: right;
  margin-top: -160px;
  margin-right: 100px;
}

footer section.contact iframe {
  height: 270px;
}

.contactText p {
  font-size: 1.1em;
}
#phone {
  padding-left: 2%;
  width: 40%;
}
.contact {
  display: flex;
}
#socialMedia {
  margin-top: 20px;
  margin-left: 10px;
}
#socialMedia img {
  width: 35px;
}
/* <-- --------FOOTER-ATTRIBUTIONS----------- --> */

footer section.attributions p {
  font-size: 1rem;
}
/* <-----------GALLERY--------------- --> */
.card:hover {
  box-shadow: 0 0 10px #333;
}
