/* Media Query for large screens */
/* 64em is also 1028 when basefont is 16px */

main,
footer {
  max-width: 64rem;
  margin: auto;
}
header {
  font-size: 2em;
}
header h1 {
  font-size: 2.75rem;
  margin-top: 5px;
}
header h3 {
  font-size: 1.85rem;
  margin-top: 8px;
}
header figure img {
  margin: 0 35px;
  width: 100px;
}

main {
  margin-top: 0;
}
.herodiv h2 {
  font-size: 35px;
}

nav {
  margin-top: 40px;
}
nav button {
  display: none;
}
nav ul {
  margin-left: 2%;
}
nav ul.hide {
  display: block;
}
nav ul li {
  width: 16%;
  border-bottom: none;
  font-size: 0.6em;
  line-height: 50px;
  display: inline-block;
  margin-right: -8px;
  /* padding: 1% 0; */
}
nav ul li a {
  border: none;
}

/* weatherbox */
.weatherBox {
  width: auto;
  height: auto;
  top: 80px;
  left: 20px;
}
.weatherBox p {
  font-size: 1.25em;
}
.weatherBox h3 {
  font-size: 1.35em;
}
.weatherBox p span {
  width: 130px;
  padding-right: 4px;
}
/* 5 Day Forecast Table */

.fiveDayForecast {
  display: block;
  font-size: 1.1em;
}
/* article */
article {
  margin-top: 50px;
}
#articleImg {
  float: right;
  width: 50%;
  margin: 1% 1% 1% 2%;
}
/* #map {
  width: 40%;
  margin-right: 100px;
} */

section.contact {
  display: block;
  grid-template-columns: auto;
}
section.contact div.map {
  width: 50%;
  float: right;
  margin-top: -150px;
}

section.contact iframe {
  height: 300px;
}

.contactText {
  text-align: left;
  font-size: 1.3em;
  margin-left: 2%;
  width: 40%;
}
#phone {
  padding-left: 2%;
  width: 40%;
}
.contact {
  display: flex;
}
#socialMedia {
  margin-top: 20px;
  margin-left: 10px;
}
#socialMedia img {
  width: 35px;
}
footer p {
  font-size: 14px;
}
