/* Header */

header figure img {
  width: 75px;
  margin: 5px 0 0 20px;
}
header h1 {
  font-size: 2rem;
}
header h3 {
  font-size: 1.5rem;
  margin-top: 5px;
}
nav button {
  font-size: 1.75rem;
}
article h2 {
  font-size: 1.5rem;
}
article h4 {
  font-size: 0.8rem;
}
article p {
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  line-height: 1.3em;
  font-size: 1em;
}
nav {
  margin-top: 20px;
}
#articleImg {
  margin: 0;
}

footer p {
  font-size: 12px;
}
