/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  font-family: "Open Sans", sans-serif;
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #0f0f0f;
  line-height: 1.3em;
}
/*------------- HEADER-------------------- */

.header {
  width: 100%;
  background-color: #fff;
  color: #0c3600;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
/* ------RESERVE NOW BUTTON----------- */
.container button#bookNow {
  padding: 0.4rem;
  background-color: #eb7903;
  color: #fff;
  border: 2px solid #da7408;
  border-radius: 45px;
  position: absolute;
  right: 5%;
  top: 79%;
  box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.6rem;
}
.container #bookNow:hover {
  background-color: #f59a39;
  transform: translateY(-3px);
  border: 2px solid #e18e35;
}

.header-left {
  width: 45%;
  margin-left: 1.5rem;
}
.header-left img {
  display: flex;
  margin-top: 10px;
}
.header-right {
  text-align: left;
  width: 45%;
  margin-top: 1rem;
  margin-left: 4rem;
  margin-right: 5%;
}
.header-right span {
  float: right;
  padding-bottom: 0.2rem;
}

.header-right h2.font2 {
  text-transform: uppercase;
  margin: 0;
  font-size: 0.5rem;
  line-height: 0.75rem;
  letter-spacing: 0.1em;
  color: #0c3600;
}

div#tagline h3 {
  margin: 0;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  padding: 1.2rem 0.2rem 0rem 0.2rem;
  color: #5eb1bf;
  text-align: center;
}

/* -------------NAVIGATION BAR--------------- */
.headerNav {
  display: flex;
  flex-direction: column;
}
.navbar {
  margin-top: 10px;
  background-color: #5eb1bf;
  margin-right: 0;
  padding: 0;
  text-align: center;
}
.primaryNav {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
ul.primaryNav li {
  display: block;
  list-style-type: none;
  text-transform: uppercase;
}
ul.primaryNav li a.nav-link {
  display: flex;
  text-align: center;

  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s background-color;
  padding: 0 0.5em;
}
.navbar button {
  /* margin: 0.2rem 2%; */
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  padding: 1% 0;
}
.navbar button:focus {
  outline: none;
  /* box-shadow: none; */
}
nav li {
  display: block;
  line-height: 44px;
  font-size: 0.9rem;
  text-transform: uppercase;
  border-bottom: 1px solid #4f9ba9;
  cursor: pointer;
  list-style-type: none;
}

.primaryNav a.nav-link:hover {
  background: #d0f4ea;
  color: #0c3660;
}

nav li.active {
  background: #0c3660;
  color: #fff;
  cursor: default;
}
nav ul.hide {
  display: none;
}

nav ul li.parent ul.child {
  display: none;
}
nav ul li.parent:hover ul.child {
  display: block;
  /* position: absolute;
  top: 60px; */
  background: #5eb1bf;
  width: 100%;

  text-align: left;
}
nav ul li.parent ul.child li {
  /* width: 100%; */
  padding: 0;
  border-bottom: 1px solid #4f9ba9;
}
nav ul li.parent ul.child li:hover {
  background: #d0f4ea;
  color: #0f0f0f;
  width: 100%;
}
nav ul li.parent ul.child li a {
  text-decoration: none;
  display: block;
}

/* -------------------MAIN BLOCK----------------- */
.wrapper {
  text-align: left;
}
main {
  /* display: inline-block; */
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main h1 {
  color: #0c3600;
  font-size: 1.3rem;
  text-align: center;
}

/* ---------HERO DIV------------------- */
main img.hero {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* --------HOME PAGE - INTRO TEMPLE INN-------------- */
section#intro {
  background-color: #c6c5b9;
  display: flex;
  flex-direction: column;
  /* margin-top: 5px; */
  position: relative;
}
img.hotel {
  width: 100%;
  margin: 0 auto;
}
section#intro h1 {
  background-color: #d0f4ea;
  width: 100%;
  padding: 0.5em 0;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}
section#intro p {
  padding: 2% 4% 4% 4%;
}
/* -----------FEATURE TEMPLE------------- */
section#feature {
  background-color: #d0f4ea;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}
img.feature {
  width: 100%;
  margin: 0 auto;
}
section#feature h1 {
  background-color: #c6c5b9;
  width: 100%;
  padding: 0.5em 0;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
}
section#feature h2 {
  font-size: 1rem;
  margin: 0 5% 1% 5%;
  font-family: "Montserrat", sans-serif;
}
section#feature h2#templeName {
  text-align: center;
  padding-top: 2%;
}
div#col {
  margin: 4% 4% 0 5%;
  column-count: 2;
  column-gap: 20px;
  /* margin-left: 5%; */
  /* column-width: 100px; */
}
div#col h2 {
  margin: 0 5% 1% 0;
}
section#feature ul li {
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  line-height: 1.3em;
}
section#feature p {
  padding: 1% 4% 4% 4%;
  line-height: 1.3em;
}

/* ---------TEMPLE CARDS----------------- */
section.templeCards {
  /* display: flex;
  flex-direction: column; */
  margin: 5% 4%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1rem;
}
section.templeCards div.templeGallery {
  margin-top: 0;
}
section.templeCards div.card h1 {
  margin: 0;
  /* margin-top: 5%; */
  color: #5eb1bf;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  padding-top: 2%;
}
section.templeCards div.card {
  /* margin-top: 5%; */
  display: flex;
  flex-direction: column;
  border: 1px solid #d3d3d3;
  box-shadow: 0px 1px 3px #555;
  background-color: white;
  border-radius: 0.25rem;
  align-content: center;
}
div.card div.cardHeading {
  background-color: #fff;
}

section.templeCards div.card h2 {
  color: #5eb1bf;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 1% 0 2% 0;
  margin: 0;
}
div.card div.content {
  padding: 1% 5%;
  background-color: #e7e6db;
  border-radius: 10px;
  margin: 2%;
}
div.card div.content h2 {
  color: #0f0f0f;
  text-align: left;
  padding-top: 2%;
  padding-bottom: 0;
}
div.card div.content li {
  line-height: 1.2rem;
  font-size: 0.8rem;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}
div.card div.content2 {
  padding: 0 5%;
}
div.card div.content2 h2 {
  color: #0f0f0f;
  text-align: left;
  padding-top: 4%;
  font-size: 1rem;
}
div.card div.content2 p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}
div.card div.content2 h3 {
  font-size: 0.9rem;
  padding-top: 2%;
  padding-bottom: 1%;
}
div.card div.content2 li {
  font-size: 0.8rem;
  list-style-type: none;
  line-height: 1.2rem;
}
div.card div.content2 ul {
  font-family: "Montserrat", sans-serif;
}
/* div#kansasCity {
  background-color: #fff;
}
div#fortCollins {
  background-color: #c6c5b9;
  color: #0f0f0f;
} */
div.three {
  background-color: #0c3600;
  color: #fff;
}
div.four {
  background-color: #d0f4ea;
  color: #0f0f0f;
}
div.five {
  background-color: #5eb1bf;
  color: #fff;
}
/* ------------WEATHERBOX----------------- */
.weatherBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;

  border: #5eb1bf solid 2px;
  padding: 10px;
  justify-items: start;
  column-gap: 1em;
  row-gap: 0.25em;
  border-radius: 5px;
  max-width: 75%;
  margin: 5% auto;
  background-color: #fff;
}
.label {
  justify-self: end;
  padding-left: 10px;
}
.title {
  grid-column: 1 / -1;
  justify-self: center;
}
.weatherBox h3.title {
  font-size: 1rem;
}
.weatherBox div p {
  font-size: 0.8rem;
}

aside h3 {
  font-size: 0.8rem;
}
aside p {
  line-height: 1.3em;
}

/* --------RECEPTION CENTER PAGE----- */
section#receptionContainer1 {
  background-color: #d0f4ea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  /* position: relative; */
}
img.veil {
  width: 100%;
  margin: 0 auto;
}
section#receptionContainer1 h1 {
  background-color: #fff;
  width: 100%;
  padding: 0.5em 0;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}
section#receptionContainer1 p {
  padding: 2% 4% 4% 4%;
}
section#receptionContainer2 {
  background-color: #c6c5b9;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
img.plate {
  width: 100%;
  margin: 0 auto;
}
section#receptionContainer2 h1 {
  background-color: #fff;
  width: 100%;
  padding: 0.5em 0;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
}

section#receptionContainer2 p {
  padding: 1% 4% 4% 4%;
  line-height: 1.3em;
}

/* ----------SERVICES PAGE--------------------- */
div.servicesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2%;
}
div.servicesContainer div.bulletList {
  padding: 0 2% 5% 10%;
}
section#services {
  background-color: #c6c5b9;
  line-height: 1.3rem;
}
section#services img {
  margin: 0;
  padding: 0;
}
section#services h1,
section#reception h1 {
  letter-spacing: 0.1rem;
  margin: 4% 0;
}
section#missionary h1 {
  color: #fff;
  letter-spacing: 0.1rem;
  margin: 4% 0;
}
section#services li,
section#reception li,
section#missionary li {
  list-style-type: square;
}
section#missionary {
  background-color: #0c3660;
  color: #fff;
  line-height: 1.3rem;
  align-self: flex-start;
}

section#reception {
  background-color: #5eb1bf;
  line-height: 1.3rem;
  align-self: flex-start;
}
button#missionaryBtn {
  padding: 3% 5%;
  border: 2px solid #b6d8cf;
  background-color: #d0f4ea;
  text-align: center;
  border-radius: 45px;
  box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  margin: 2% 0 7% 30%;
}
button#missionaryBtn:hover {
  background-color: #e1fcf4;
  transform: translateY(-3px);
  border: 2px solid #c4e7dd;
}
button#receptionBtn {
  padding: 3% 5%;
  border: 2px solid #b8b7ac;
  background-color: #c6c5b9;
  text-align: center;
  border-radius: 45px;
  box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  margin: 2% 0 7% 30%;
}
button#receptionBtn:hover {
  background-color: #dad9cd;
  transform: translateY(-3px);
  border: 2px solid #b8b7ac;
}

/* -----------MISSIONARY PAGE------------------ */
section.threeBlocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2%;
}
section.threeBlocks div.bulletList {
  padding: 0 2% 5% 10%;
}
h1#mission {
  color: #5eb1bf;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  padding-top: 2%;
}
section#mission1 {
  background-color: #d0f4ea;
}
section#mission2 {
  background-color: #5eb1bf;
}
section#mission3 {
  background-color: #0c3660;
  color: #fff;
}
section#mission1 h1,
section#mission2 h1 {
  color: #0f0f0f;
  letter-spacing: 0.1rem;
  margin: 4% 0;
}
section#mission3 h1 {
  color: #fff;
  letter-spacing: 0.1rem;
  margin: 4% 0;
}
section#mission1 li,
section#mission2 li,
section#mission3 li {
  line-height: 1.5rem;
  list-style-type: square;
}
/* ------------CONTACT US PAGE------------------ */
section#contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
section#contactInformation {
  background-color: #c6c5b9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 7%;
}
#contactInformation div.contact h3 {
  padding-bottom: 1%;
  padding-top: 10%;
  font-size: 1.1rem;
}
#contactInformation div.contact li {
  font-size: 1rem;
  line-height: 1.3rem;
  list-style-type: none;
}
div.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}
div.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 200px;
  width: 300px;
  margin-top: 5%;
  text-align: center;
}

div.mapouter {
  position: relative;
  height: 200px;
  width: 300px;
  font-size: 0.8em;
}
/* ------CONTACT US FORM---------- */

div.contactFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.contactFormContainer div.form {
  background-color: #fff;
  padding: 5% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactFormContainer div.form fieldset {
  border: none;
  border-top: 1px solid #555;
  margin-top: 10%;
}
.contactFormContainer div.form fieldset legend {
  padding: 0 3%;
}
.contactFormContainer div.form form {
  text-align: center;
  align-self: center;
}
.contactFormContainer div.form form h1 {
  font-size: 1.5em;
  margin: 0;
  padding-bottom: 1%;
  color: #5eb1bf;
}
.contactFormContainer div.form form h2 {
  font-size: 1em;
  color: #0f0f0f;
  opacity: 0.6;
}
form legend {
  text-align: left;
  margin-left: 2%;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: #333;
  font-size: 0.9rem;
  text-align: left;
}
form label.top input,
form label.top select {
  -webkit-appearance: none; /*makes formatting work better across different browsers*/
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem; /*makes them at least 44px for touchability*/
  color: #555;
  width: 100%;
  max-width: 20rem; /*right size for small screen and limits width for larger screens so it doesn't stretch too wide */
  background-color: white;
}

form label.sbs {
  display: block;
  padding: 0.75rem 0; /*makes them at least 44px for touchability*/
  color: #555;
  text-align: left;
}

form label.comments {
  display: block;
  text-align: left;
  border-radius: 10px;
}
form textarea {
  -webkit-appearance: none; /*makes formatting work better across different browsers*/
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem; /*makes them at least 44px for touchability*/
  color: #555;
  width: 100%;
  max-width: 20rem; /*right size for small screen and limits width for larger screens so it doesn't stretch too wide*/
}

form input.submitBtn {
  border: 1px solid #56a3b0;
  background-color: #5eb1bf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: white;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  margin: 2rem 0 2rem 0;
  width: 95%;
  max-width: 20rem; /*right size for small screen and limits width for larger screens so it doesn't stretch too wide*/
  text-shadow: 0px 1px 0px #808080;
  font-size: 1.1rem;
}
form input.submitBtn:hover {
  background-color: #66c4d4;
  cursor: pointer;
}
form label.top input:required {
  border-left: #5eb1bf solid 6px;
}
form label.top input:required:valid {
  border-left: #06a438 solid 6px;
}
/* -------------THANKS PAGE-------------------------------- */
main div.thanks {
  padding: 5%;
  background-color: #d0f4ea;
}
div.thanks h2 {
  font-size: 1.2rem;
}
div.thanks p {
  margin: 20px 0 40px 0;
  font-size: 1rem;
  line-height: 1.5em;
}
/* -------------RESOURCES & ATTRIBUTIONS PAGE-------------- */
section#resources {
  padding: 5% 5% 5% 10%;
}

section#resources li,
section#resources h1 {
  text-align: left;
}
/* --------------FOOTER -CONTACT INFO----------------------- */
footer {
  width: 100%;
}
#contactInfoBox {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div#socialMedia {
  padding-top: 10px;
  text-align: center;
}
#socialMedia img {
  /* padding: 3px; */
  width: 25px;
  margin: 5px;
}
/*---------- FOOTER-ATTRIBUTIONS --------*/
div.attributions {
  background-color: #fff;
  color: #0c3600;
  text-align: center;
  /* height: 50px; */
  padding: 2%;
  width: 100%;
}
footer div.attributions p {
  text-align: center;
  margin-top: 0;
  font-size: 0.7rem;
}
div.attributions a {
  /* text-decoration: none; */
  color: #5eb1bf;
}
div.attributions a:hover {
  color: #c6c5b9;
}
/*------------ TEMPLE CARDS  ---------------*/
.templeGallery {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1rem;
  /* grid-auto-flow: dense; */
}
figure {
  margin: 0;
  padding: 0;
}
.gallery .card {
  border: 1px solid #d3d3d3;
  box-shadow: 0px 1px 3px #555;
  background-color: white;
  border-radius: 3px;
  align-content: center;
  margin: 0 4%;
}
.content {
  padding: 0.5rem 0.75rem;
  line-height: 1.6em;
  text-align: left;
}
figure img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* -------------TOWN STAT CARDS------------- */
/* .towngallery {
  margin: 25px 4%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1rem;
}
.towncard {
  display: flex;
  flex-direction: column;
  border: 1px solid #d3d3d3;
  box-shadow: 0px 1px 3px #555;
  background-color: white;
  border-radius: 0.25rem;
  align-content: center;
}
.towngallery a {
  text-decoration: none;
}
.towncard h3 {
  font-style: italic;
  font-size: 1rem;
  color: #404040;
  margin: 5px 0;
}

.towncard .cardh2 {
  text-align: center;
  padding: 10px 0;
  background-color: #eb7903;
  opacity: 0.85;
  color: white;
  margin: 10px 8px 10px 8px;
  border-radius: 3px;
}

.towncard figure.image {
  display: flex;
  flex-direction: column;
  order: 1;
  padding: 8px;
  margin: 0 2% 5px 2%;
}
.towncard img {
  box-shadow: 0 0 5px #000;
  border-radius: 3px;
}

.towncard article {
  text-align: center;
  color: #404040;
  margin: 15px 8px;
  line-height: 1.5em;
}
.towncard hr {
  background-color: #404040;
  width: 90%;
  margin: 0 auto;
  opacity: 0.5;
} */

/* ----------clearfix------------- */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
