/* Media Query for large screens */
main {
  margin-top: 0;
}
nav {
  margin-top: 40px;
}

nav li {
  width: 16%;
  border-bottom: none;
  height: 60px;
  line-height: 60px;
  font-size: 0.7em;
  display: inline-block;
  margin-right: -8px;
}

/* weatherbox */
.weatherBox {
  width: auto;
  height: auto;
}
.weatherBox p {
  font-size: 1.25em;
}
.weatherBox h3 {
  font-size: 1.35em;
}
.weatherBox p span {
  width: 120px;
  padding-right: 4px;

  /* 5 Day Forecast Table */
}
.fiveDayForecast {
  display: block;
  font-size: 1.1em;
}
/* article */
article {
  margin-top: 50px;
}
#articleImg {
  float: right;
  width: 50%;
}
#map {
  width: 40%;
  margin-right: 100px;
}
.contactText {
  text-align: left;
  font-size: 1.3em;
  margin-left: 50px;
}
.contact {
  display: flex;
}
#socialMedia {
  margin-top: 20px;
}
